@{
    var accountType = ViewData["AccountType"] as string;
    var userEmail = ViewData["UserEmail"] as string;
    var userName = ViewData["UserName"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Integra Mailing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntegraMailing.styles.css" asp-append-version="true" />

    <!--Importação de estilos personalizados-->
    <link href="@Url.Content("~/css/ListaStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/PerfilStyle.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <!--Barra de navegação superior-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-3">
            <div class="container-fluid">
                <button id="sidebarToggle" class="btn btn-outline-secondary me-2">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="navbar-brand fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Validação de Mailing</a>

                <div class="d-flex align-items-center ms-auto">
                    <button class="btn btn-outline-secondary me-2" type="button">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="notification me-2 position-relative">
                        <button class="btn btn-outline-secondary" type="button">
                            <i class="fas fa-bell"></i>
                            <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">0</span>
                        </button>
                    </div>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-outline-secondary">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main">
            <!-- Barra de navegação lateral -->
            <div class="container-fluid open" id="sidebar">
                <div class="container sidebar-info">

 
                    <div class="user-container">
                        <div class="user-large">
                            <img src="/assets/userIcon.png" alt="Imagem de Usuário" class="img-circle" /> <!--Imagem do usuário-->
                        </div>
                        
                            @if (accountType == "Admin")
                            {
                                <div class="user-small">
                                    <img src="/assets/enterprise.png" alt="Imagem de Empresa" /> <!--Imagem da empresa-->
                                </div>
                            }                                                     
                    </div>

                    <div class="profile-data">
                        <div class="info">
                            <h6>@userName</h6> <!-- Nome do usuário e empresa -->
                            <p>@userEmail</p> <!-- Email do usuário -->
                        </div>
                        <div class="dropdown">
                            <button class="btn profile-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa-solid fa-chevron-down" style="color:white;"></i>
                            </button> <!-- Botão para expandir opções -->
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a asp-area="" asp-controller="Home" asp-action="Perfil" class="dropdown-item">Perfil</a>
                                <a class="dropdown-item" href="#">Notificações</a>
                                <a class="dropdown-item" href="#">Recarregar</a>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Grupos e opções de cada grupo no menu lateral -->

                <div class="menu-group">
                    <button class="toggle-button">&#x1F4DE; Campanhas</button>
                    <div class="options">
                        <button class="option-button">
                            <a class="text-decoration-none text-black text-lg-start" asp-area="" asp-controller="Home" asp-action="Lista"><i class="fas fa-arrow-right"></i> Listas</a>
                        </button>
                    </div>
                </div>

                <!--
                <div class="menu-group">
                    <button class="toggle-button">&#x2714; Resultados</button>
                    <div class="options">
                        <button class="option-button">Status Final</button>
                        <button class="option-button">Analítico</button>
                    </div>
                </div>
                -->
                
            </div>
                <div id="mainContent" class="">
                @RenderBody() <!-- Renderização dinâmica de páginas -->
                </div>
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Integra Sistema
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/cfec620395.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
