@using System.Diagnostics;
@{
    var accountType = ViewData["AccountType"] as string;
    var userEmail = ViewData["UserEmail"] as string;
    var userName = ViewData["UserName"] as string;
    var currentPage = TempData["ViewName"] as string;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Integra Mailing</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/IntegraMailing.styles.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!--Importação de estilos personalizados-->
    <link href="@Url.Content("~/css/ListaStyle.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/PerfilStyle.css")" rel="stylesheet" type="text/css" />
    @RenderSection("Styles", false)
</head>
<body>
    <header>
        <!--Barra de navegação superior-->
        <nav class="navbar navbar-expand-lg shadow-sm">
            <div class="container-fluid">
                <button id="sidebarToggle" class="btn btn-outline-secondary me-2">
                    <i class="fas fa-bars"></i>
                </button>
                <a class="navbar-brand text-white fw-bold" asp-area="" asp-controller="Home" asp-action="Index">Validação de Mailing</a>

                <div class="d-flex align-items-center ms-auto">
                    <button class="btn btn-outline-light me-2" type="button">
                        <i class="fas fa-cog"></i>
                    </button>
                    <div class="notification me-2 position-relative">
                        <span class="badge bg-dark position-absolute top-0 start-100 translate-middle">0</span>

                        <button class="btn btn-outline-light" type="button">
                            <i class="fas fa-bell"></i>
                        </button>
                    </div>
                    <form method="post" asp-controller="Account" asp-action="Logout">
                        <button type="submit" class="btn btn-outline-light">
                            <i class="fas fa-sign-out-alt"></i>
                        </button>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    
    <main role="main" id="mainDiv">
        <!-- Barra de navegação lateral -->
        <div class="container-fluid open" id="sidebar">
            <div class="container sidebar-info">
@*                 <div class="user-container">
                    <div class="user-large">
                        <img src="/assets/userIcon.png" alt="Imagem de Usuário" class="img-circle" /> <!--Imagem do usuário-->
                    </div>
                        
                        @if (accountType == "Admin")
                        {
                            <div class="user-small">
                                <img src="/assets/enterprise.png" alt="Imagem de Empresa" /> <!--Imagem da empresa-->
                            </div>
                        }                                                     
                </div> *@

                <div class="profile-data">
                    <div class="info">
                        <h6>@userEmail</h6> 
                        @* <p>@userEmail</p>  *@
                    </div>
                    <div class="dropdown">
                        <button class="btn profile-button dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa-solid fa-chevron-down" style="color:white;"></i>
                        </button> <!-- Botão para expandir opções -->
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a asp-area="" asp-controller="Home" asp-action="Perfil" class="dropdown-item">Perfil</a>
                            <a class="dropdown-item" href="#">Notificações</a>
                            <a class="dropdown-item" href="#">Recarregar</a>
                        </div>
                    </div>
                </div>

            </div>
            <div style="height:30px; width:100%; background-color:lightgray; display: flex; align-items:center; padding:5%; font-size:13px; color:black; ">MENU</div>

            <!-- Grupos e opções de cada grupo no menu lateral -->

            <div class="menu-group">
                <button class="toggle-button">&#x1F4DE;   Campanhas</button>
                <div class="options">
                    <button class="option-button">
                     
                        <a class="text-decoration-none text-black text-lg-start" style="display:flex; align-items:center;" asp-area="" asp-controller="Home" asp-action="Lista">
                            <div style="width:2vh;height:2vh; margin-left: 15px; margin-right: 7px;">
                                <div style="border-radius:50%; border: 2px solid gray; width:100%; height:100%;display:flex;justify-content:center;align-items:center">
                                    @* <div style="width:70%; height: 70%; background-color:black;"></div> *@
                                </div>                              
                            </div>
                            <span style="font-size:15px;">Listas</span>
                        </a>
                    </button>
                </div>
            </div>

                
            <div class="menu-group">
                <button class="toggle-button">&#9989;   Resultados</button>
                <div class="options">
                    <button class="option-button">
                        <a class="text-decoration-none text-black text-lg-start" style="display:flex; align-items:center;" asp-area="" asp-controller="Home" asp-action="Resultados">
                            <div style="width:2vh;height:2vh; margin-left: 15px; margin-right: 7px;">
                                <div style="border-radius:50%; border: 2px solid gray; width:100%; height:100%;display:flex;justify-content:center;align-items:center">
                                    @* <div style="width:70%; height: 70%; background-color:black;"></div> *@
                                </div>
                            </div>
                            <span style="font-size:15px;">Campanhas</span>
                        </a>
                    </button>
                </div>
            </div>
                
                
        </div>
            <div id="mainContent" class="">
            @RenderBody() <!-- Renderização dinâmica de páginas -->
            </div>
    </main>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Integra Sistema
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/cfec620395.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script>
        function toggleSidebar(open) {
            var sidebar = document.getElementById('sidebar'); // Seleciona o elemento pelo ID
            if (sidebar) {
                if (open) {
                    sidebar.classList.add('open');
                } else {
                    sidebar.classList.remove('open');
                }
            }
        }

        // Defina a largura mínima da tela para a lógica de alternância
        var minWidth = 1000;

        // Função para lidar com a alteração do tamanho da janela
        function handleWindowResize() {
            var width = window.innerWidth || document.documentElement.clientWidth || document.body.clientWidth;
            if (width < minWidth) {
                // Desativa a classe .open se a largura da tela for menor que minWidth
                toggleSidebar(false);
            } else {
                // Reativa a classe .open se a largura da tela for maior que minWidth
                toggleSidebar(true);
            }
        }

        // Adicione o ouvinte de eventos ao redimensionar a janela
        window.addEventListener('resize', handleWindowResize);

        // Chame a função imediatamente para definir o estado inicial baseado no tamanho atual da tela
        handleWindowResize();
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
