@using IntegraMailing.Controllers
@model MailingResults

@{
    ViewData["Title"] = "Resultados do Mailing";
}
@section Styles {
    <style>
        #mailingsTable {
            width: 95%;
            margin: auto;
            border-collapse: separate;
            border-spacing: 0 15px; /* Espaçamento vertical entre as linhas */
        }

            #mailingsTable thead th {
                padding: 10px 5px;
                color: black;
            }

            #mailingsTable tbody tr {
                height: 90px; /* Ajuste conforme necessário */
                transition: background-color 0.3s, box-shadow 0.3s;
                border: 1.5px solid gray;
                border-radius: 20px; /* Bordas arredondadas */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
            }

                #mailingsTable tbody tr:hover {
                    background-color: #e2e8f0;
                    /*cursor: pointer;*/
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada ao passar o mouse */
                }

                #mailingsTable tbody tr td {
                    padding: 10px 11px;
                    border: none; /* Remova as bordas das células individuais */
                    background: transparent; /* Fundo transparente para que a borda arredondada e a sombra do tr sejam visíveis */
                }

                    #mailingsTable tbody tr td:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    #mailingsTable tbody tr td:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }

        /* CSS */
        #btn-export {
            appearance: button;
            background-color: #1B9B45;
            background-image: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
            border: 1px solid #1B9B45;
            border-radius: 1rem;
            box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,rgba(46, 54, 80, 0.075) 0 1px 1px;
            box-sizing: border-box;
            color: #FFFFFF;
            cursor: pointer;
            display: inline-block;
            font-family: Inter,sans-serif;
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.5;
            margin: 0;
            padding: .5rem 1rem;
            text-align: center;
            text-transform: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: middle;
        }

            #btn-export:focus:not(:focus-visible),
            #btn-export:focus {
            outline: 0;
        }

            #btn-export:hover {
                background-color: #1B9B60;
                border-color: #1B9B60;
        }

            #btn-export:focus {
                background-color: #1B9B60;
                border-color: #1B9B60;
            box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset, rgba(46, 54, 80, 0.075) 0 1px 1px, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
        }

            #btn-export:active {
                background-color: #1B9B60;
            background-image: none;
                border-color: #1B9B60;
            box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
        }

                #btn-export:active:focus {
                box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, rgba(104, 101, 235, 0.5) 0 0 0 .2rem;
            }

            #btn-export:disabled {
            background-image: none;
            box-shadow: none;
            opacity: .65;
            pointer-events: none;
        }
    </style>
}
<h4 class="page-title" style="display:flex; justify-content:space-between;">
    <div style="display:flex; width:100%;">
        <div style="flex:7;">
            <button class="btn" onclick="location.href='@Url.Action("Resultados", "Home")'">
                <i class="fas fa-arrow-left"></i>
            </button>

            <span> Resultados >> Campanhas >> Mailings</span>
        </div>
        <div style="display:flex; justify-content:center; align-items:center; flex:3;">
            @if(Model.MailingsFinalizados.Count > 0)
            {
            <button style="display:flex; justify-content:center; align-items:center;" id="btn-export" class="btn ml-auto" onclick="location.href='@Url.Action("ExportarCsv", "ResultadoCampanha", new {campanhaId = Model.MailingsFinalizados[0].campanha_id})'"><i class="fa-solid fa-file-export"></i> Exportar como CSV</button>
            }
        </div>
    </div>
</h4>
<table id="mailingsTable" class="display">
    @if(Model.MailingsFinalizados.Count > 0)
    {
        <thead>
            <tr>
                <th>Número</th>
                <th>Status 1</th>
                <th>Hora da Tentativa 1</th>
                <th>Status 2</th>
                <th>Hora da Tentativa 2</th>
                <th>Status 3</th>
                <th>Hora da Tentativa 3</th>
                <th>Status Final</th>
            </tr>
        </thead>
    }

    <tbody>
        @if(Model.MailingsFinalizados.Count < 1)
        {
            <h3 style="text-align:center; color:darkred">Ainda não existem mailings finalizados para a campanha selecionada</h3>
        }
        else

        {
            int index = (10 * Model.PaginaCounter - 9);
            int reachValue = Model.MailingsFinalizados.Count - index > 9 ? index + 9 : Model.MailingsFinalizados.Count;

            @for (;index <= reachValue;index++)
            {
                System.Diagnostics.Debug.WriteLine("Index: "+index);
                System.Diagnostics.Debug.WriteLine(reachValue);
                <tr>
                    <td>@Model.MailingsFinalizados[index-1].numero</td>
                    <td>@Model.MailingsFinalizados[index-1].status_1</td>
                    <td>@Model.MailingsFinalizados[index-1].hora_tentativa_1</td>
                    <td>@Model.MailingsFinalizados[index-1].status_2</td>
                    <td>@Model.MailingsFinalizados[index-1].hora_tentativa_2</td>
                    <td>@Model.MailingsFinalizados[index-1].status_3</td>
                    <td>@Model.MailingsFinalizados[index-1].hora_tentativa_3</td>
                    <td>@Model.MailingsFinalizados[index-1].statusFinal</td>
                </tr>
            }

        }

    </tbody>
</table>

@if(Model.MailingsFinalizados.Count > 0)
{
    <div class="pagina-info">
        Mostrando @((10 * Model.PaginaCounter) - 9) a @((10 * Model.PaginaCounter < Model.MailingsFinalizados.Count) ? (10 * Model.PaginaCounter) : (Model.MailingsFinalizados.Count)) de @Model.MailingsFinalizados.Count resultados
    </div>
}


<!-- Botões de navegação de página -->
<div class="paginacao">
    @{

        int firstPage = 0;

        if (Model.PaginaCounter >= 3)
            firstPage = Model.PaginaCounter - 2;
        else
            firstPage = 1;

            

        @for (int i = firstPage; i <= Model.MaxPaginaCounter && i <= firstPage + 4; i++)
        {
           
            var btnClass = (i == Model.PaginaCounter) ? "btn-pagina btn-pagina-selecionada" : "btn-pagina";
            <form asp-controller="ResultadoCampanha" asp-action="TrocaPagina" method="post" enctype="multipart/form-data">
                <input type="hidden" name="index" value="@i" />
                <button class="@btnClass">@i</button>
            </form>
        }

    }
</div>