@using IntegraMailing.Data
@using IntegraMailing.Controllers
@model CampanhasResults
@{
    ViewData["Title"] = "Resultados das Campanhas";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" />
    <style>
        #resultsTable {
            width: 95%;
            margin: auto; 
            border-collapse: separate;
            border-spacing: 0 15px; /* Espaçamento vertical entre as linhas */
        }

            #resultsTable thead th {
                padding: 10px 5px;
                color: black;
                text-align:center;
            }

            #resultsTable tbody tr {
                height: 90px; /* Ajuste conforme necessário */
                transition: background-color 0.3s, box-shadow 0.3s;
                border: 1.5px solid gray;
                border-radius: 20px; /* Bordas arredondadas */
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
                
            }

                #resultsTable tbody tr:hover {
                    background-color: #e2e8f0;
                    cursor: pointer;
                    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra mais pronunciada ao passar o mouse */
                }

                #resultsTable tbody tr td {
                    padding: 10px 11px;
                    border: none;
                    background: transparent;
                    text-align:center;
                }

                    #resultsTable tbody tr td:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    #resultsTable tbody tr td:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }



        .btn-filter {
            background-color: #e1ecf4;
            border-radius: 3px;
            border: 1px solid #7aa7c7;
            box-shadow: rgba(255, 255, 255, .7) 0 1px 0 0 inset;
            box-sizing: border-box;
            color: #39739d;
            cursor: pointer;
            display: inline-block;
            font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 1.15385;
            margin: 0;
            outline: none;
            padding: 8px .8em;
            position: relative;
            text-align: center;
            text-decoration: none;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            vertical-align: baseline;
            white-space: nowrap;
        }

            .btn-filter:hover,
            .btn-filter:focus {
            background-color: #b3d3ea;
            color: #2c5777;
        }

            .btn-filter:focus {
            box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
        }

        .btn-filter:active {
            background-color: #a0c7e4;
            box-shadow: none;
            color: #2c5777;
        }
    </style>
}


<h4 class="page-title" style="display:flex; align-items:center;"><button onclick="location.href='@Url.Action("Index", "Home")'" class="btn" title="Página inicial">&#127968;</button>Resultados >> Campanhas</h4>

<!-- Barra de pesquisa e filtros -->
<form id="filterForm" asp-controller="ResultadoCampanha" asp-action="GetCampanhasFilter" method="post" enctype="multipart/form-data">
<div class="d-flex flex-column flex-md-row mb-3" style="margin-left:2%; justify-content:space-between; margin-right:2%;">
    <div class="mb-2 mb-md-0 mr-md-2">
        <label for="searchName">Pesquisa:</label>
        <input type="search" class="form-control" placeholder="Pesquisar por nome" id="searchName" name="searchName">
    </div>
    <div class="mb-2 mb-md-0 mr-md-2">
        <label for="startDate">Data de Início:</label>
        <input type="date" class="form-control" id="startDate" placeholder="A partir de" name="startDate">
    </div>
    <div class="mb-2 mb-md-0 mr-md-2">
        <label for="endDate">Data de Fim:</label>
        <input type="date" class="form-control" id="endDate" placeholder="Até" name="endDate">
    </div>
    <div>
        <label for="statusFilter">Status:</label>
            <select class="form-control" id="statusFilter" name="statusFilter">
            <option value="">Selecione o status</option>
            <option value="Erro">Erro</option>
            <option value="Em Progresso...">Em Progresso</option>
            <option value="Pausada">Pausada</option>
            <option value="Finalizada">Finalizada</option>
        </select>
    </div>     
</div>

<div style="display:flex; justify-content:center; width:100%;">
        <button type="submit" class="btn btn-block btn-filter">Aplicar Filtros</button>
</div>
</form>

<!-- Tabela de resultados -->
<table id="resultsTable" class="display">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Data de publicação da campanha</th>
            <th>Status</th>
            
        </tr>
    </thead>
    <tbody>
        @{
            int indice = (Model.PaginaCounter * 6);
        }
        @for (var i = indice - 6; i  < indice && i < Model.Campanhas.Count; i++)
        {
            var backgroundColor = i % 2 == 0 ? "background-color: #a0aec0;" : "background-color: white;";
            <tr style="@backgroundColor" onclick="submitForm(@i)">
                <td>
                    <form id="form-@i" method="post" asp-action="GetMailings" asp-controller="ResultadoCampanha">
                        <input type="hidden" name="campanhaId" value="@Model.Campanhas[i].Id" />
                        <button type="submit" class="btn text-left" style="width:100%;">@Model.Campanhas[i].Name</button>
                    </form>
                </td>
                <td>@Model.Campanhas[i].Data_Sent.Value.ToString("dd/MM/yyyy")</td>
                <td>@Model.Campanhas[i].Status</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagina-info">
    Mostrando @((6 * Model.PaginaCounter) - 5) a @((6 * Model.PaginaCounter < Model.Campanhas.Count) ? (6 * Model.PaginaCounter) : (Model.Campanhas.Count)) de @Model.Campanhas.Count resultados
</div>
<!-- Botões de navegação de página -->
<div class="paginacao">
    @{
        int firstPage = 0;

        if (Model.PaginaCounter >= 3)
            firstPage = Model.PaginaCounter - 2;
        else
            firstPage = 1;


        @for (int i = firstPage; i <= Model.MaxPaginaCounter && i <= firstPage + 4; i++)
        {

            var btnClass = (i == Model.PaginaCounter) ? "btn-pagina btn-pagina-selecionada" : "btn-pagina";
            <form asp-controller="ResultadoCampanha" asp-action="TrocaPaginaCampanhas" method="post" enctype="multipart/form-data">
                <input type="hidden" name="index" value="@i" />
                <button class="@btnClass">@i</button>
            </form>
        }

    }
</div>

@section Scripts
{
    <script>
        function submitForm(index) {
            document.getElementById('form-' + index).submit();
        }
        $(document).ready(function () {


        //     $("#filterForm").on("submit", function (event) {
        //         event.preventDefault();  // Prevenindo o comportamento padrão de submissão do formulário

        //         var formData = $(this).serialize();  // Serialize os dados do formulário

        //         $.ajax({
        //             url: '@Url.Action("GetCampanhasFilter", "ResultadoCampanha")',
        //             type: 'POST',
        //             data: formData,
        //             success: function (data) {
        //                 console.log(data);
        //                 updateTable(data);  // Atualize a tabela com os novos dados
        //             }
        //         });
        //     });
        // });

        function updateTable(data) {
            // Obtenha o token anti-falsificação do servidor
            $.get('@Url.Action("GetAntiForgeryToken", "ResultadoCampanha")', function (token) {
                var tbody = $("#resultsTable tbody");
                tbody.empty(); // Limpa o corpo da tabela

                $.each(data, function (index, campanha) {
                    var backgroundColor = index % 2 == 0 ? "background-color: #a0aec0;" : "background-color: white;";

                    var rowHtml = `
                        <tr style="${backgroundColor}" data-index="${index}">
                            <td>
                                <form id="form-${index}" method="post" action="/ResultadoCampanha/GetMailings">
                                    <input type="hidden" name="__RequestVerificationToken" value="${token}" />
                                    <input type="hidden" name="campanhaId" value="${campanha.id}" />
                                    <button type="button" class="btn text-left" style="width:100%;">${campanha.name}</button>
                                </form>
                            </td>
                            <td>${new Date(campanha.data_Sent).toLocaleDateString()}</td>
                            <td>${campanha.status}</td>
                        </tr>`;

                    tbody.append(rowHtml); // Adiciona a nova linha ao corpo da tabela
                });

                // Vincule o evento de clique após adicionar todas as linhas
                tbody.children('tr').on('click', function () {
                    var index = $(this).data('index'); // Usa o atributo data-index para identificar o formulário
                    submitForm(index);
                });
            });
        }

        function submitForm(index) {
            document.getElementById('form-' + index).submit();
        }
    </script>
}
